.bg-grey {

    background-color: #070707;
}

.bg-custom-dark {
    background-color: #141414;
}

.bg-custom-grey {
    background-color: #222;
}
.thumbnail-img {
    height: 100px;
    width: 100px;
}

.thumbnail-text {
    
    font-size: 10px;
}

.navbar-icon {
    height: 35px;
    width: 35px;
}

.thumbnail:hover {
    transition: 0.3s;
    transform: scale(1.05,1.05);
}



.element {
    animation: slideUp 0.5s ease-in-out 1;
}


.fade-in-element {
    transition-delay: 0.5s;
    transition: 0.7s;
    opacity: 0;
}
.fade-in-element.is-visible {
    opacity: 1;
    transform: translateY(0px) translateZ(0);
}

.from-bottom {
    transform: translateY(70px)  translateZ(0);
}

.from-top {
    transform: translateY(-200px)  translateZ(0);
}


body {
    background-color: #222;
}